{% extends 'base.html' %}

{% block title %}Chat Room{% endblock %}

{% block content %}
  <v-card v-chat-scroll class="overflow-y-auto mt-10" style="height: 60vh;">
    <v-toolbar
      color="primary lighten-1"
      dark
    >
      <v-toolbar-title>{{room_name}}</v-toolbar-title>
    </v-toolbar>

    <v-list one-line v-chat-scroll>
      <template v-for="(item, index) in messages">
        <v-list-item
          :key="index"
          ripple
        >
          <v-list-item-content>
            <v-list-item-title v-html="'<b>' + item.username +'</b>: ' +item.message"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
      </template>
    </v-list>
  </v-card>

  <v-form ref="form" lazy-validation @submit.prevent="sendMessage">
    <v-text-field
      v-model="message"
      :append-outer-icon="message ? 'mdi-send' : ''"
      filled
      clear-icon="mdi-close-circle"
      clearable
      label="Message"
      type="text"
      @click:append-outer="sendMessage"
      @click:clear="clearMessage"
    ></v-text-field>
  </v-form>
{% endblock %}

{% block script%}
  <script>
    window.Vue = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ['[[', ']]'],
      data: () => ({
        message: '',
        messages: [],
        messagesocket: null,
      }),

      methods: {
        sendMessage () {
          this.messagesocket.send(JSON.stringify({
            'username': localStorage.getItem('username') !== null? localStorage.getItem('username'): "User_" + Date.now(),
            'message': this.message
          }));
          this.clearMessage()
        },
        clearMessage () {
          this.message = ''
        },
      },
      created() {
        let self = this;
        self.messagesocket = new WebSocket(
          'ws://'
          + window.location.host
          + '/ws/chat/'
          + "{{room_name}}"
          + '/'
        );
        
        self.messagesocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          self.messages.push(data);
        };

        self.messagesocket.onclose = function(e) {
          console.error('Chat socket closed unexpectedly');
        };
      }
    })
  </script
{% endblock %}